Redirect 301 /contact/  https://firstcom.fr/contact
Redirect 301 /firstcom/ https://firstcom.fr
Redirect 301 /lequipe/  https://firstcom.fr
Redirect 301 /lequipe/chefs-de-projets/ https://firstcom.fr
Redirect 301 /lequipe/creatifs/ https://firstcom.fr
Redirect 301 /lequipe/developpeurs/ https://firstcom.fr
Redirect 301 /lequipe/web-marketers/    https://firstcom.fr
Redirect 301 /lequipe/attachees-de-presse/  https://firstcom.fr
Redirect 301 /lequipe/professionnels-de-limage/ https://firstcom.fr
Redirect 301 /competences/  https://firstcom.fr
Redirect 301 /competences/conseil-et-strategie/ https://firstcom.fr
Redirect 301 /competences/creation/ https://firstcom.fr
Redirect 301 /competences/edition/  https://firstcom.fr
Redirect 301 /competences/digital/  https://firstcom.fr
Redirect 301 /competences/audiovisuel/  https://firstcom.fr
Redirect 301 /competences/relations-presse-et-public/   https://firstcom.fr
Redirect 301 /realisations/ https://firstcom.fr
Redirect 301 /realisations/b-to-b/  https://firstcom.fr
Redirect 301 /portfolio_category/b-to-b/    https://firstcom.fr
Redirect 301 /portfolio_category/b-to-c/    https://firstcom.fr
Redirect 301 /portfolio_category/b-to-b-to-c/   https://firstcom.fr
Redirect 301 /portfolio-items/sogima/   https://firstcom.fr
Redirect 301 /portfolio-items/alain-milliat-jus-de-degustation/ https://firstcom.fr
Redirect 301 /portfolio-items/firstcom-signe-le-ton-de-communication-docean-en-2019/    https://firstcom.fr
Redirect 301 /portfolio-items/ecf-strategie-de-developpement-du-reseau-decoles-de-conduite/ https://firstcom.fr
Redirect 301 /portfolio-items/la-ciotat-shipyards-relations-presse/ https://firstcom.fr
Redirect 301 /portfolio-items/pnm-expertise-creation-identite/  https://firstcom.fr
Redirect 301 /portfolio-items/dolphin-creation-site-mobile/ https://firstcom.fr
Redirect 301 /portfolio-items/interway-pdf-interactifs/ https://firstcom.fr
Redirect 301 /portfolio-items/provence-industrynov-creation-identite-graphique-et-declinaisons/ https://firstcom.fr
Redirect 301 /portfolio-items/initial_illumin/  https://firstcom.fr
Redirect 301 /portfolio-items/la-ciotat-shipyards-au-coeur-des-medias/  https://firstcom.fr
Redirect 301 /portfolio-items/glastint-nouveau-site-internet/   https://firstcom.fr
Redirect 301 /portfolio-items/traqueur-corporate/   https://firstcom.fr
Redirect 301 /portfolio-items/traqueur-voiture-connectee/   https://firstcom.fr
Redirect 301 /portfolio-items/interway-retail/  https://firstcom.fr
Redirect 301 /portfolio-items/notico-help-motiondesign/ https://firstcom.fr
Redirect 301 /portfolio-items/jaguar-network-audiovisuel/   https://firstcom.fr
Redirect 301 /portfolio-items/arjo-solutions-site-internet/ https://firstcom.fr
Redirect 301 /portfolio-items/glastint-application-mobile/  https://firstcom.fr
Redirect 301 /portfolio-items/glastint-reseaux-sociaux/ https://firstcom.fr
Redirect 301 /portfolio-items/la-ciotat-shipyards-reseaux-sociaux/  https://firstcom.fr
Redirect 301 /portfolio-items/ecf-relations-presse/ https://firstcom.fr
Redirect 301 /portfolio-items/dolphin-france-reseaux-sociaux/   https://firstcom.fr
Redirect 301 /portfolio-items/initial-digitalisation/   https://firstcom.fr
Redirect 301 /portfolio-items/everblue/ https://firstcom.fr
Redirect 301 /portfolio-items/fresh-yog/    https://firstcom.fr
Redirect 301 /portfolio-items/interway/ https://firstcom.fr
Redirect 301 /portfolio-items/lilly/    https://firstcom.fr
Redirect 301 /portfolio-items/arjo-systems/ https://firstcom.fr
Redirect 301 /portfolio-items/eurli-rent/   https://firstcom.fr
Redirect 301 /portfolio-items/mingat/   https://firstcom.fr
Redirect 301 /portfolio-items/dolphin-france/   https://firstcom.fr
Redirect 301 /portfolio-items/marignan/ https://firstcom.fr
Redirect 301 /portfolio-items/ecf/  https://firstcom.fr
Redirect 301 /portfolio-items/mcdonalds/    https://firstcom.fr
Redirect 301 /portfolio-items/traqueur/ https://firstcom.fr
Redirect 301 /portfolio-items/maytronics-france/    https://firstcom.fr
Redirect 301 /portfolio-items/bpi-france-le-hub/    https://firstcom.fr
Redirect 301 /portfolio-items/itp/  https://firstcom.fr
Redirect 301 /portfolio-items/somei/    https://firstcom.fr
Redirect 301 /portfolio-items/asffv/    https://firstcom.fr
Redirect 301 /portfolio-items/jaguar-network/   https://firstcom.fr
Redirect 301 /portfolio-items/nice/ https://firstcom.fr
Redirect 301 /portfolio_tags/conseil-strategie/ https://firstcom.fr
Redirect 301 /portfolio_tags/creation/  https://firstcom.fr
Redirect 301 /portfolio_tags/reseaux-sociaux/   https://firstcom.fr
Redirect 301 /portfolio_tags/modelisation-offre-marketing/  https://firstcom.fr
Redirect 301 /portfolio_tags/production-de-contenu-redaction/   https://firstcom.fr
Redirect 301 /portfolio_tags/relations-presse-publiques/    https://firstcom.fr
Redirect 301 /portfolio_tags/creation-identite-graphique/   https://firstcom.fr
Redirect 301 /portfolio_tags/site-internet/ https://firstcom.fr
Redirect 301 /portfolio_tags/site-internet-mobile/  https://firstcom.fr
Redirect 301 /portfolio_tags/audiovisuel/   https://firstcom.fr
Redirect 301 /portfolio_tags/video/ https://firstcom.fr
Redirect 301 /portfolio_tags/motion-design/ https://firstcom.fr
Redirect 301 /portfolio_tags/campagne-digitale-multicanal/  https://firstcom.fr
Redirect 301 /portfolio_tags/application-mobile/    https://firstcom.fr
Redirect 301 /portfolio_tags/rp/    https://firstcom.fr
Redirect 301 /portfolio_tags/documentation/ https://firstcom.fr
Redirect 301 /portfolio_tags/documents-digitaux/    https://firstcom.fr
Redirect 301 /portfolio_tags/generation-de-trafic/  https://firstcom.fr
Redirect 301 /portfolio_tags/recommandation-strategique/    https://firstcom.fr
Redirect 301 /portfolio_tags/sea/   https://firstcom.fr
Redirect 301 /portfolio_tags/seo/   https://firstcom.fr
Redirect 301 /portfolio_tags/charte-graphique-declinaisons/ https://firstcom.fr
Redirect 301 /portfolio_tags/creation-de-marque/    https://firstcom.fr
Redirect 301 /portfolio_tags/plv/   https://firstcom.fr
Redirect 301 /portfolio_tags/stand/ https://firstcom.fr
Redirect 301 /portfolio_tags/illustrations/ https://firstcom.fr
Redirect 301 /portfolio_tags/edition-faconnage/ https://firstcom.fr
Redirect 301 /portfolio_tags/jeu/   https://firstcom.fr
Redirect 301 /portfolio_tags/edition/   https://firstcom.fr
Redirect 301 /portfolio_tags/store-locator/ https://firstcom.fr
Redirect 301 /portfolio_tags/seo-generation-de-trafic/  https://firstcom.fr
Redirect 301 /portfolio_tags/campagne-communication/    https://firstcom.fr
Redirect 301 /portfolio_tags/animation/ https://firstcom.fr
Redirect 301 /portfolio_tags/film/  https://firstcom.fr
Redirect 301 /portfolio_tags/salon-evenementiel/    https://firstcom.fr
Redirect 301 /portfolio_tags/operation-promotionnelle/  https://firstcom.fr
Redirect 301 /portfolio_tags/digital/   https://firstcom.fr
Redirect 301 /portfolio_tags/recommandation-strategique/    https://firstcom.fr
Redirect 301 /portfolio_tags/promotion-des-ventes/  https://firstcom.fr
Redirect 301 /ils-nous-ont-fait-confiance/  https://firstcom.fr
Redirect 301 /mentions-legales/ https://firstcom.fr
Redirect 301 /donnees-personnelles/ https://firstcom.fr 

<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Redirection spécifique
    RewriteRule ^realisations/page/2/$ / [R=301,L]
    RewriteRule ^firstcom/$ / [R=301,L]
    RewriteRule ^competences/audiovisuel/$ / [R=301,L]
    RewriteRule ^competences/edition/$ / [R=301,L]
    RewriteRule ^competences/digital/$ / [R=301,L]
    RewriteRule ^competences/relations-presse-et-public/$ / [R=301,L]
    RewriteRule ^competences/creation/$ / [R=301,L]
    RewriteRule ^lequipe/developpeurs/$ / [R=301,L]
    RewriteRule ^competences/$ / [R=301,L]
    RewriteRule ^lequipe/creatifs/$ / [R=301,L]
    RewriteRule ^competences/conseil-et-strategie/$ / [R=301,L]
    RewriteRule ^lequipe/$ / [R=301,L]
    RewriteRule ^portfolio-items/jaguar-network-audiovisuel/$ / [R=301,L]
    RewriteRule ^portfolio_tags/creation-identite-graphique/$ / [R=301,L]
    RewriteRule ^ils-nous-ont-fait-confiance/$ / [R=301,L]
    RewriteRule ^lequipe/chefs-de-projets/$ / [R=301,L]
    RewriteRule ^portfolio-items/glastint-reseaux-sociaux/$ / [R=301,L]
    RewriteRule ^portfolio-items/ecf/$ / [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>



<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
 
<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>